
<p id="notice"><%= notice %></p>
<center>
<h1>Current Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Vote</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= 'x' %></td>
    <% end %>
