<html>
  <head>
    <title>Using Text Fields</title>
  </head>
  <body><center>

    <br>
    <form action = "/users/new/" >
      Please Enter Name and Vote
      <br>

      <br>
      <br>
      <input type = "submit" value="OK" />
    </form>
  </center></body>
</html>
